<h4> Edit your comment  </h4>
<br>
<%= form_with(model: [@song, @comment]) do |c| %>
    <%= c.hidden_field :user_id, value: current_user.id %>
    <%= c.hidden_field :song_id, value: @song.id %>
    <%= c.label :Comment %>
    <%= c.text_field :content %>
    <%= c.submit %>

<% end %>
