<h1> Edit <%= @song.name %> </h1>

<%= form_with model: @song do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :artist_name %>
    <%= f.text_field :artist_name %>

    <%= f.label :genre %>
    <%= f.text_field :genre %>

    <br>
    <%= f.label :lyrics %>
    <br>
    <%= f.text_area :lyrics, :cols => 90, :rows => 10 %>

    <br>
    <%= f.submit%>

<% end %>

    <%= link_to 'Delete Song ', song_path(@song), method: "delete" %>


<br>
    <%= link_to 'Back', song_path(@song) %>